li {
  background-color: #fff !important;
  border-color: #fff !important;
}
span.ant-pagination-item-ellipsis {
  background-color: #262626;
  color: #fff !important;
}

.ant-select.ant-pagination-options-size-changer.css-dev-only-do-not-override-byeoj0.ant-select-single.ant-select-show-arrow.ant-select-show-search {
  display: none;
}
.expenses-list__fallback {
  color: white;
  text-align: center;
}
